<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance</title>
    </head>
    <body>
        {{> header}}
        <p>Починяем, сайт скоро оживёт...</p>
        {{> footer}}
    </body>
</html>